*{margin: 0;padding:0;}
#slide{
	
}
.slide{	
	width: 400px;
	height: 300px;
	position: absolute;
	vertical-align: middle;
}
.slide ul li{
	list-style: none;
	float: left;
}
.slidepre{
	background:url(../images/arrow.png) 0 0;
	position: absolute;
	width: 38px;
	height: 48px;
	float: left;
	margin-top: 110px;
	cursor: pointer;
}
.slidenext{
	background:url(../images/arrow.png) -40px 0;
	position: absolute;
	right: 0;
	width: 38px;
	height: 48px;
	margin-top: 110px;
	cursor: pointer;
}
.page{
	position: absolute;
	color: #fff;
	font-family: "微软雅黑";
	bottom: 10px;
	width: 400px;	
}
.page ul{
	float: right;
	margin-right: 10px;	
}
.page li{
	width: 24px;
	border: 1px solid #cacaca;
	text-align: center;
	border-radius: 12px;
	margin-left: 20px;
	cursor: pointer;
}